.restcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.rest {
  box-shadow: 0 0 5px grey;
  border-radius: 5px;
  margin: 10px;
  width: 450px;

  font-family: touse;

  transition-property: box-shadow;
  transition-duration: 0.25s;
}

.rest:hover {
  box-shadow: 0 0 15px grey;
}

.sepline {
  height: 1px;
  width: 100%;
  background-color: rgb(230, 230, 230);
  margin-top: 5px;
}

.restinfo {
  padding: 10px;
  cursor: default;
}

.restcity {
  font-weight: bold;
  font-size: 12px;
}

.restname {
  font-size: 20px;
}

.restcuisines {
  font-size: 15px;
}

.restcuisine {
  margin: 2px;
  border: 1px solid grey;
}

.restfilter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: touse;
  padding: 10px;
}

.reststats {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 10px;
  cursor: default;

  transition-property: background-color, color;
  transition-duration: 0.25s;
}

.reststats:hover {
  background-color: cornflowerblue;
  color: white;
}
.status-data {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.75rem 0px 0.375rem;
  border-bottom: 1px solid rgb(68, 68, 68);
}


.location-data {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.75rem 0px 0.375rem;
}


.detail-list {
  height: 100%;
  color: rgb(255, 152, 0);
  padding: 1.25rem;
  background: rgb(51, 51, 51);
}


.block-data {
  position: relative;
  width: 300px;
  height: 300px;
}

.id-data {
  max-width: 300px;
  margin-bottom: 0.625rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 0.625rem;
  overflow: hidden;
}


.hlovws {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  min-height: calc(60vh - 80px);
  padding: 1.875rem;
  background: rgb(32, 35, 41);
}

.kJKTWD {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1260px;
  min-height: 40vh;
}

.block-data {
  position: relative;
  width: 300px;
  height: 300px;
}
.block-data .card-image {
  width: 100%;
  background: rgb(32, 35, 41);
}

.name-block {
  width: 100%;
  opacity: 0.8;
  position: absolute;
  bottom: 0px;
  background: rgb(32, 35, 41);
  padding: 0.625rem;
}


.name-data {
  color: rgb(245, 245, 245);
  font-size: 1.625rem;
  font-weight: 400;
  font-stretch: expanded;
  margin: 0px;
}

.name-id {
  color: rgb(187, 187, 187);
  font-size: 0.875rem;
  margin: 0px;
}

.status-data span {
  font-size: 0.7rem;
  font-weight: 400;
  color: rgb(158, 158, 158);
}



.location-data p {
    width: 100%;
    font-size: 0.9rem;
    font-weight: 200;
    text-align: right;
    padding: 0px;
    margin: 0px;
}


.location-data span {
  font-size: 0.7rem;
  font-weight: 400;
  color: rgb(158, 158, 158);
}


.status-data p {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 200;
  text-align: right;
  padding: 0px;
  margin: 0px;
}

h2 {

  padding-bottom: calc(0.40625rem - 1px);
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;

  
  font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';

  text-rendering: optimizeLegibility;
  
  line-height: 1.1;
  border-bottom: 1px solid hsla(0,0%,0%,0.07);
}

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}


.fakeimg1{
  background-color: #aaa;
 
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

.search-sort{
  display: flex;
}
.search-data{
flex: 50%;
}


.sort-data{
  flex: 50%;
}


